
  .footer {
    background-color: #c4c4c4;
    color: #180c23;
    margin-bottom: 0;
  }
  
  .footer__banner {
    display: block;
    background-color: #8565c4;
    color: #ccc;
    font-weight: 300;
    font-size: 18px;
    &:hover {
      text-decoration: none;
      color:  #fff;
    }
  }

  .footer__banner2 {
    display: block;
    background-color: #a28ad2;
    text-align: center;
    color: #ddd;
    font-weight: 200;
    font-size: 16px;
    &:hover {
      text-decoration: none;
      color:  #fff;
    }
  }
  
  .footer h3,
  .footer h4 {
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
  
  .footer p {
    font-weight: 200;
    opacity: 0.7;
    font-size: 14px;
  }
  
  .footer h4 {
  
  }

  .footer img {
    width: 10em;
  }
  
  .footer__links > a{
    display: block;
    opacity: 1;
    color: #2b1641;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }