.terms__single {
  h1:first-of-type {
    text-transform: uppercase;
    color: #2c3e50;
  }
  a, a:link {
    color: #031644;
  }
  h5 {
    font-weight: 500;
    color: #031644;
  }

  p {
    @media (max-width: 544px) {
      font-size:small; /*1rem = 16px*/
    }

    font-size: 1.125rem;
    color: #2c3e50;
    margin-bottom: 1.5rem;
    line-height: 1.75;
    font-weight: 200;
  }

  li {
    @media (max-width: 544px) {
      font-size:small; /*1rem = 16px*/
    }

    color: #2c3e50;
    font-weight: 300;
  }
}