---
layout: default
---

<section class="container product__single py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-2">{{page.title | markdownify}}</h2>
            {{content}}
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-10 offset-md-2">
          <div class="extra_info">
            <span class="extra_info__title">Tarih ve Saat:</span>
            <span class="extra_info__content">{{page.project_date}}</span>
          </div>
          <div class="extra_info">
              <span class="extra_info__title">Duyuru Türü:</span>
              <span class="extra_info__content">
                  {% for tag in page.project_type %}{%if forloop.index0  == 0  %}{% else %}, {% endif %}{{ tag }}{% endfor %}
              </span>
            </div>
        </div>
    </div>
  </section>
