---
layout: default
---

<section class="projects__hero text-center mb-3 mb-md-5" style="background-image: url({{site.baseurl}}/img/{{page.hero_bg}});">
  <div class="container">
    <h1 class="mb-4 ">{{page.title}}</h1>
    <p class="w-75 mx-auto">{{page.subtitle}}</p>
  </div>
</section>

<div class="container">
  <section class="projects row">
    {% for project in site.projects reversed %}
      <div class="projects__item col-md-12 col-sm-12 col-lg-12">
        <h2> <a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
        <div class="mb-5">{{ project.content | truncate: 80 }} <a href="{{ project.url | relative_url }}">Daha Fazla</a> </div>
      </div>
    {% endfor %}
  </section>
</div>
